html, body{
  margin: 0px;
}
app {
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  position: fixed;
}

#turn {
  width:100%;
  height:100%;
  position:fixed;
  top:0px;
  left:0px;
  background-color:white;
  background-repeat:no-repeat;
  background-position: center center;
  display:none;
}
